package db

import (
	"fmt"
	"gorm.io/driver/postgres"
	"gorm.io/gorm"
	"log"
)

func NewDbConnection() *gorm.DB {
	db, err := gorm.Open(postgres.Open("{{.DBConnectionUrl}}"), &gorm.Config{})

	if err != nil {
		log.Fatalln(err)
	}

	return db
}
