package {{.DomainPkgName}}

type User struct {
    Id              string  `json:"id" gorm:"primaryKey"`
    Email           string  `json:"email"`
    HashedPassword  string  `json:"hashedPassword"`
}

type UserAccessor interface {
    GetById(id string) (User, error)
    GetByEmail(email string) (User, error)
    GetAll() ([]User, error)
    Create(id string, email string, password string) (User, error)
}

type UserAuthenticator interface {
    Authenticate(email string, password string) (User, error)
}